# Data_Cleaning_and_Reshaping

In [1]:
# Import Library 
import pandas as pd
import numpy as np

In [2]:
# Import So Much Candy Data
candy = pd.read_excel("candyhierarchy2017.xlsx")

/Users/carmanwoo/anaconda3/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [3]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [4]:
# Check the names of the Columns
candy.columns

Index(['Internal ID', 'Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY',
       'Q5: STATE, PROVINCE, COUNTY, ETC', 'Q6 | 100 Grand Bar',
       'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
       'Q6 | Any full-sized candy bar', 'Q6 | Black Jacks',
       ...
       'Q8: DESPAIR OTHER', 'Q9: OTHER COMMENTS', 'Q10: DRESS', 'Unnamed: 113',
       'Q11: DAY', 'Q12: MEDIA [Daily Dish]', 'Q12: MEDIA [Science]',
       'Q12: MEDIA [ESPN]', 'Q12: MEDIA [Yahoo]', 'Click Coordinates (x, y)'],
      dtype='object', length=120)

In [5]:
candy.shape

(2460, 120)

In [6]:
# Remove in missing data
candy.drop_duplicates(inplace=True)
candy.shape

(2460, 120)

In [7]:
# Filter out missing data
candy.dropna(axis=0,how='all',inplace=True) # Drop the Nan value 

# Also dropping the columns with too many records are reported as Nan (>50%)
candy.dropna(thresh=candy.shape[0]*0.5,axis=1,inplace=True)
# Dropping the rows with too many records are reported as Nan (>50%)
candy.dropna(thresh=candy.shape[1]*0.5,axis=0, inplace=True)

candy.shape

(1781, 113)

In [8]:
candy.columns

Index(['Internal ID', 'Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY',
       'Q5: STATE, PROVINCE, COUNTY, ETC', 'Q6 | 100 Grand Bar',
       'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
       'Q6 | Any full-sized candy bar', 'Q6 | Black Jacks',
       ...
       'Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein',
       'Q6 | Vicodin', 'Q6 | Whatchamacallit Bars', 'Q6 | White Bread',
       'Q6 | Whole Wheat anything', 'Q6 | York Peppermint Patties',
       'Q10: DRESS', 'Q11: DAY', 'Q12: MEDIA [Science]',
       'Click Coordinates (x, y)'],
      dtype='object', length=113)

In [9]:
# Rename some of the columns

new_columns_dict={
    'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)':'Q6 | Mary Janes',
    'Q6 | Any full-sized candy bar':'Q6 | Full-sized candy bar',
    'Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein':'Q6 | Pure high fructose corn syrup'
}
candy.rename(columns=new_columns_dict, inplace=True)

In [10]:
# Remove the 'Q6' for all the candies name 
candy_names = {x:x.split('Q6 | ')[1] for x in candy.columns if x.startswith('Q6 | ')}
candy.rename(columns=candy_names,inplace=True)
candy.reset_index(inplace=True)

In [11]:
candy.columns

Index(['index', 'Internal ID', 'Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE',
       'Q4: COUNTRY', 'Q5: STATE, PROVINCE, COUNTY, ETC', '100 Grand Bar',
       'Mary Janes', 'Full-sized candy bar',
       ...
       'Pure high fructose corn syrup', 'Vicodin', 'Whatchamacallit Bars',
       'White Bread', 'Whole Wheat anything', 'York Peppermint Patties',
       'Q10: DRESS', 'Q11: DAY', 'Q12: MEDIA [Science]',
       'Click Coordinates (x, y)'],
      dtype='object', length=114)

In [12]:
# Check for the missing values 
candy.isnull().sum()

index                         0
Internal ID                   0
Q1: GOING OUT?               61
Q2: GENDER                   10
Q3: AGE                      34
                           ...
York Peppermint Patties      34
Q10: DRESS                   82
Q11: DAY                     63
Q12: MEDIA [Science]        435
Click Coordinates (x, y)    192
Length: 114, dtype: int64

In [13]:
# Chpater 8
# Create hierarchical index

# Create the hierachial data with 'Gender' and 'Age'
candy.set_index(['Q2: GENDER', 'Q3: AGE'], inplace=True)
candy.head(10)

                    index  Internal ID Q1: GOING OUT? Q4: COUNTRY  \
Q2: GENDER Q3: AGE
Male       44           1     90272821             No        USA
           40           3     90272840             No          us
           23           4     90272841             No         usa
           NaN          5     90272852             No         NaN
           33           7     90272854             No      canada
           40           8     90272858             No      Canada
Female     53           9     90272859             No          Us
Male       56          11     90272865             No      Canada
           64          12     90272866             No          US
           43          13     90272867            Yes      Murica

                   Q5: STATE, PROVINCE, COUNTY, ETC 100 Grand Bar Mary Janes  \
Q2: GENDER Q3: AGE
Male       44                                    NM           MEH    DESPAIR
           40                                    or           MEH    DESPAIR
           23                              exton pa           JOY    DESPAIR
           NaN                                  NaN           JOY    DESPAIR
           33                               ontario           JOY    DESPAIR
           40                               Ontario           JOY    DESPAIR
Female     53                                    Wa           MEH    DESPAIR
Male       56                                Quebec           JOY        MEH
           64                                    NY           MEH        MEH
           43                            California           JOY    DESPAIR

                   Full-sized candy bar Black Jacks Bonkers (the candy)  ...  \
Q2: GENDER Q3: AGE                                                       ...
Male       44                       JOY         MEH             DESPAIR  ...
           40                       JOY         MEH                 MEH  ...
           23                       JOY     DESPAIR                 MEH  ...
           NaN                      JOY         NaN                 NaN  ...
           33                       JOY     DESPAIR             DESPAIR  ...
           40                       JOY         MEH                 MEH  ...
Female     53                       JOY         MEH                 MEH  ...
Male       56                       JOY         MEH                 MEH  ...
           64                       JOY         MEH                 MEH  ...
           43                       JOY         MEH                 MEH  ...

                   Pure high fructose corn syrup  Vicodin  \
Q2: GENDER Q3: AGE
Male       44                            DESPAIR  DESPAIR
           40                            DESPAIR      JOY
           23                                MEH      JOY
           NaN                           DESPAIR  DESPAIR
           33                                JOY      MEH
           40                                MEH  DESPAIR
Female     53                            DESPAIR  DESPAIR
Male       56                            DESPAIR      MEH
           64                                JOY      JOY
           43                            DESPAIR  DESPAIR

                   Whatchamacallit Bars White Bread Whole Wheat anything  \
Q2: GENDER Q3: AGE
Male       44                   DESPAIR     DESPAIR              DESPAIR
           40                       JOY     DESPAIR              DESPAIR
           23                       JOY     DESPAIR              DESPAIR
           NaN                      JOY     DESPAIR              DESPAIR
           33                   DESPAIR     DESPAIR              DESPAIR
           40                       MEH     DESPAIR              DESPAIR
Female     53                       MEH     DESPAIR              DESPAIR
Male       56                       MEH         JOY              DESPAIR
           64                   DESPAIR     DESPAIR              DESPAIR
           43                       JOY     DESPAIR              DESPAIR

                   York Peppermint Patties      Q10: DRESS Q11: DAY  \
Q2: GENDER Q3: AGE
Male       44                      DESPAIR  White and gold   Sunday
           40                      DESPAIR  White and gold   Sunday
           23                          JOY  White and gold   Friday
           NaN                         JOY             NaN      NaN
           33                      DESPAIR  Blue and black   Friday
           40                      DESPAIR  Blue and black   Sunday
Female     53                          MEH  White and gold   Sunday
Male       56                          MEH  White and gold   Friday
           64                          MEH  White and gold   Sunday
           43                          JOY  White and gold   Sunday

                   Q12: MEDIA [Science] Click Coordinates (x, y)
Q2: GENDER Q3: AGE
Male       44                       1.0                 (84, 25)
           40                       1.0                 (75, 23)
           23                       1.0                 (70, 10)
           NaN                      1.0                 (75, 23)
           33                       1.0                  (55, 5)
           40                       1.0                 (76, 24)
Female     53                       1.0                 (70, 28)
Male       56                       1.0                 (73, 24)
           64                       1.0                 (77, 24)
           43                       1.0                      NaN

[10 rows x 112 columns]

In [14]:
# Reshaping Data 

# Create new index for Candy 
new_index = pd.Index(list(candy_names.values()),name='Candy')
candy_new = candy.reindex(columns=new_index)

In [15]:
# Using the stack() to reshape 
candy_3 = candy_new.stack().reset_index().rename(columns={0: 'Enjoyment'})
candy_3[:10]

  Q2: GENDER Q3: AGE                     Candy Enjoyment
0       Male      44             100 Grand Bar       MEH
1       Male      44                Mary Janes   DESPAIR
2       Male      44      Full-sized candy bar       JOY
3       Male      44               Black Jacks       MEH
4       Male      44       Bonkers (the candy)   DESPAIR
5       Male      44  Bonkers (the board game)   DESPAIR
6       Male      44               Bottle Caps   DESPAIR
7       Male      44             Box'o'Raisins   DESPAIR
8       Male      44         Broken glow stick   DESPAIR
9       Male      44              Butterfinger   DESPAIR

In [16]:
candy.reset_index(inplace=True)

In [17]:
# Chapter 10 
# Grouping with Dicts/Series

In [18]:
# Trying to group the data by Country and City
candy.dropna(subset=['Q4: COUNTRY','Q5: STATE, PROVINCE, COUNTY, ETC'],inplace=True)

mapping = {
    'Q4: COUNTRY': 'COUNTRY',
    'Q5: STATE, PROVINCE, COUNTY, ETC': 'LOCATION'
}

candy_g = candy.groupby(mapping, axis=1)
candy_g

In [19]:
# Check with the by_column
candy_g.describe()
# After cleaning the data, there is 2349 surveys and most of the surveys are collected from country USA and the state Califonia

                                          count unique         top freq
COUNTRY  Q4: COUNTRY                       1738     92         USA  526
LOCATION Q5: STATE, PROVINCE, COUNTY, ETC  1738    426  California  107

In [20]:
candy_new[:11]

Candy              100 Grand Bar Mary Janes Full-sized candy bar Black Jacks  \
Q2: GENDER Q3: AGE
Male       44                MEH    DESPAIR                  JOY         MEH
           40                MEH    DESPAIR                  JOY         MEH
           23                JOY    DESPAIR                  JOY     DESPAIR
           NaN               JOY    DESPAIR                  JOY         NaN
           33                JOY    DESPAIR                  JOY     DESPAIR
           40                JOY    DESPAIR                  JOY         MEH
Female     53                MEH    DESPAIR                  JOY         MEH
Male       56                JOY        MEH                  JOY         MEH
           64                MEH        MEH                  JOY         MEH
           43                JOY    DESPAIR                  JOY         MEH
Female     37                MEH        JOY                  JOY         MEH

Candy              Bonkers (the candy) Bonkers (the board game) Bottle Caps  \
Q2: GENDER Q3: AGE
Male       44                  DESPAIR                  DESPAIR     DESPAIR
           40                      MEH                  DESPAIR         MEH
           23                      MEH                  DESPAIR         MEH
           NaN                     NaN                      NaN         MEH
           33                  DESPAIR                      MEH         JOY
           40                      MEH                      MEH         MEH
Female     53                      MEH                      MEH         MEH
Male       56                      MEH                      JOY     DESPAIR
           64                      MEH                  DESPAIR     DESPAIR
           43                      MEH                  DESPAIR         MEH
Female     37                      JOY                  DESPAIR         MEH

Candy              Box'o'Raisins Broken glow stick Butterfinger  ...  \
Q2: GENDER Q3: AGE                                               ...
Male       44            DESPAIR           DESPAIR      DESPAIR  ...
           40            DESPAIR           DESPAIR          MEH  ...
           23            DESPAIR           DESPAIR          MEH  ...
           NaN               MEH           DESPAIR          JOY  ...
           33                MEH               JOY          JOY  ...
           40            DESPAIR           DESPAIR          JOY  ...
Female     53                MEH               MEH          MEH  ...
Male       56            DESPAIR           DESPAIR          JOY  ...
           64                MEH               NaN          JOY  ...
           43            DESPAIR           DESPAIR          JOY  ...
Female     37            DESPAIR           DESPAIR          JOY  ...

Candy              Three Musketeers Tolberone something or other Trail Mix  \
Q2: GENDER Q3: AGE
Male       44                   JOY                          JOY   DESPAIR
           40               DESPAIR                          JOY       MEH
           23                   JOY                          JOY   DESPAIR
           NaN                  JOY                          JOY       MEH
           33                   JOY                          MEH   DESPAIR
           40                   MEH                          JOY   DESPAIR
Female     53                   MEH                          JOY       MEH
Male       56               DESPAIR                          JOY       MEH
           64                   JOY                          JOY   DESPAIR
           43                   JOY                          JOY   DESPAIR
Female     37                   JOY                          JOY   DESPAIR

Candy              Twix Pure high fructose corn syrup  Vicodin  \
Q2: GENDER Q3: AGE
Male       44       JOY                       DESPAIR  DESPAIR
           40       JOY                       DESPAIR      JOY
           23       JOY                           MEH      JOY
           NaN      JOY                       DESPAIR  DESPAIR
           33       JOY                           JOY      MEH
           40       JOY                           MEH  DESPAIR
Female     53       JOY                       DESPAIR  DESPAIR
Male       56       MEH                       DESPAIR      MEH
           64       MEH                           JOY      JOY
           43       JOY                       DESPAIR  DESPAIR
Female     37       JOY                       DESPAIR      MEH

Candy              Whatchamacallit Bars White Bread Whole Wheat anything  \
Q2: GENDER Q3: AGE
Male       44                   DESPAIR     DESPAIR              DESPAIR
           40                       JOY     DESPAIR              DESPAIR
           23                       JOY     DESPAIR              DESPAIR
           NaN                      JOY     DESPAIR              DESPAIR
           33                   DESPAIR     DESPAIR              DESPAIR
           40                       MEH     DESPAIR              DESPAIR
Female     53                       MEH     DESPAIR              DESPAIR
Male       56                       MEH         JOY              DESPAIR
           64                   DESPAIR     DESPAIR              DESPAIR
           43                       JOY     DESPAIR              DESPAIR
Female     37                       JOY     DESPAIR              DESPAIR

Candy              York Peppermint Patties
Q2: GENDER Q3: AGE
Male       44                      DESPAIR
           40                      DESPAIR
           23                          JOY
           NaN                         JOY
           33                      DESPAIR
           40                      DESPAIR
Female     53                          MEH
Male       56                          MEH
           64                          MEH
           43                          JOY
Female     37                          JOY

[11 rows x 103 columns]

In [21]:
# CrossTab

pd.crosstab([candy_3['Candy']],candy_3.Enjoyment,margins=True)

Enjoyment                 DESPAIR    JOY    MEH     All
Candy
100 Grand Bar                  85    867    751    1703
Abstained from M&M'ing.       692    218    607    1517
Black Jacks                   791     91    613    1495
Blue M&M's                    120   1017    595    1732
Bonkers (the board game)      544    193    714    1451
...                           ...    ...    ...     ...
Whatchamacallit Bars          288    840    509    1637
White Bread                  1450     44    204    1698
Whole Wheat anything         1285    117    307    1709
York Peppermint Patties       231   1098    418    1747
All                         58138  63932  52980  175050

[104 rows x 4 columns]

In [22]:
# Generate Date Rande

# Since the candy hierarchy daya for 2017 doesn't have the date time info. I will use the data from 2015 intead
# Import data

candy_2015 = pd.read_excel("CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx")
candy_2015.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,2015-10-23 08:46:20.451,35,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-10-23 08:47:34.285,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-23 08:47:58.964,31,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
candy_2015.shape

(5630, 124)

In [24]:
# Generate the date range
week = pd.date_range('2015-10-10', '2015-10-30')
week

DatetimeIndex(['2015-10-10', '2015-10-11', '2015-10-12', '2015-10-13',
               '2015-10-14', '2015-10-15', '2015-10-16', '2015-10-17',
               '2015-10-18', '2015-10-19', '2015-10-20', '2015-10-21',
               '2015-10-22', '2015-10-23', '2015-10-24', '2015-10-25',
               '2015-10-26', '2015-10-27', '2015-10-28', '2015-10-29',
               '2015-10-30'],
              dtype='datetime64[ns]', freq='D')

In [25]:
# Period Frequency Conversions
# Create time period for Oct as hours
period = pd.Period("2015-10", 'H')

In [26]:
# Convert period to minutely frequency  
period.asfreq("T")

Period('2015-10-01 00:59', 'T')